/* 

margin-top: margen superior
margin-right: margen derecho 
margin-bottom: margen inferior
margin-left: margen izquierdo 

admite hasta 4 valores que van a en el orden
de las agujas del reloj.
4 valores => margin: top-left-bottom-left
3 valores => margin: top-left/right-bottom
2 valores => margin: top/bottom left/right
1 valor => top/right/bottom/left
*/
body {
  background-color: #333;
  color: white;
}

.text {
  background-color: cornflowerblue;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.tittle {
  background-color: coral;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.block {
  background-color: rebeccapurple;
  width: 200px; /*ancho*/
  height: 200px; /*alto*/
  /* margin: 50px 150px 200px 70px; */
  /* margin-top: 100px; */
  /* margin-left: 50px; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.inline {
  background-color: lightcoral;
  color: inherit;
}
